<div id="filtersRegion" class="filters full-height">
  <!-- FILTER SECTION -->
</div>
<div class="page-header">
  <h3 class="title">To Do<small></small></h3>
</div>
<div id="resultsRegion" class="results full-height">
  <!-- RESULTS SECTION -->
</div>
<div id="paginationRegion" class="pagination">
  <!-- PAGINATION SECTION -->
</div>
